@import url(https://fonts.googleapis.com/css?family=Oswald|Roboto);

:root {
  --primary-color: #d5eafc;
  --secondary-color: #fafafe;
  --text-color: rgb(81, 90, 110);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
  font-family: Roboto, sans-serif;
  background-color: var(--primary-color);
  color: var(--text-color);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: 90vw;
  min-height: 300px;
  max-height: 400px;
  max-width: 350px;
  border-radius: 10px;
  background-color: var(--secondary-color);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.input-wrapper {
  position: relative;
}

.array__label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.1s linear;
}

.array__label.focused {
  top: -5px;
  font-size: 0.8rem;
}

.array__input {
  height: 2rem;
  border: 0;
  background-color: transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.array__input:focus {
  outline: none;
  border-color: var(--text-color);
}

.radio-btns {
  display: flex;
  flex-direction: row;
}

.radio-btns .input-wrapper {
  margin: 1rem;
}
