@import url(https://fonts.googleapis.com/css?family=Oswald|Roboto);

:root {
  --primary-color: #d5eafc;
  --secondary-color: #fafafe;
  --text-color: rgb(81, 90, 110);
  --button-color: #1a73e8;
}

body {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
  font-family: Roboto, sans-serif;
  background-color: var(--primary-color);
  color: var(--text-color);
  user-select: none;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: 90vw;
  min-height: 400px;
  max-height: 400px;
  max-width: 350px;
  border-radius: 10px;
  background-color: var(--secondary-color);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

h1 {
  margin-bottom: 6rem;
  top: 1rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.function-output {
  font-size: 1.5rem;
  height: 1.5rem;
  margin-bottom: 2rem;
  user-select: all;
}

.input__wrapper {
  position: relative;
}

.array__label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.1s linear;
  cursor: text;
}

.array__label.focused {
  top: -5px;
  font-size: 0.8rem;
}

.array__input {
  width: 100%;
  height: 2rem;
  border: 0;
  background-color: transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.array__input:focus {
  outline: none;
  border-color: var(--text-color);
}

.radio-div {
  display: flex;
  flex-direction: row;
}

.radio-div .input__wrapper {
  margin: 1rem;
}

.input__label {
  cursor: pointer;
  padding: 0.2rem;
}

input[type="radio"] {
  pointer-events: none;
  display: inline-block;
  z-index: -1;
}

#function-details {
  position: absolute;
  background-color: white;
  width: 30%;
  padding: 2rem;
  text-align: center;
  border-radius: 10px;
  background-color: var(--secondary-color);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

button {
  padding: 0.5rem 1.5rem;
  background-color: var(--button-color);
  border: none;
  border-radius: 5px;
  color: white;
}
button:hover {
  transform: scale(1.05);
  opacity: 0.9;
  cursor: pointer;
}
