:root {
  --primary-color: white;
  --secondary-color: linear-gradient(90deg, #92a9bd, 70%, #ffcbcb);
  --tertiary-color: #11324d;
  --codename-input-border: 2px solid;
  --codename-section-width: clamp(150px, 70vw, 25rem);
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: var(--primary-color);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  font-weight: 300;
  color: black;
  transition: all 1s linear;
  opacity: 0;
}

.codename {
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: var(--codename-section-width);
  width: var(--codename-section-width);
  background: var(--secondary-color);
  border-radius: 20px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.8);
  opacity: 1;
  animation: codename-shake 2s linear infinite;
  z-index: 1;
}

.codename__input {
  width: clamp(1rem, 80%, 20rem);
  background-color: transparent;
  border: var(--codename-input-border);
  border-color: transparent;
  border-radius: 4rem;
  font-size: 100%;
  z-index: 2;
  cursor: pointer;
}

.codename__input::placeholder {
  color: #92a9bd;
}
.codename__input:focus {
  outline: none;
}

/* Active */
.active {
  display: flex;
  height: 70vh;
  min-height: 15rem;
  width: 70vw;
  max-width: 25rem;
  border-radius: 10px;
  margin: 0;
  background: var(--secondary-color);
  transition: all 0.5s linear;
  animation: none;
  cursor: default;
}

.active * {
  display: block;
}

.active h1 {
  opacity: 0.7;
}

.active .codename__input-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  width: 100%;
}

.active .codename__input {
  width: 60%;
  height: fit-content;
  padding: 5% 8%;
  border-radius: 4rem;
  background-color: var(--primary-color);
  color: #396081;
  transition: 0.5s all ease-in-out;
  opacity: 1;
  cursor: text;
}

.codename__label {
  margin-left: 1rem;
  height: 2px;
  width: 15px;
  opacity: 0;
  transition: 0.5s all ease-in-out;
}

.codename__label::before,
.codename__label::after {
  content: "";
  display: inline-block;
  position: absolute;
  height: 2px;
  width: 15px;
  background-color: var(--tertiary-color);
  transition: all 0.2s linear;
  border-radius: 20%;
}

.codename__label::before {
  transform: translate(-50%) rotate(45deg);
  background-color: var(--tertiary-color);
}

.codename__label::after {
  transform: translate(-50%) rotate(-45deg);
}

.codename__requirements-list {
  width: 80%;
  min-height: 4rem;
  user-select: none;
  list-style: circle;
}

li {
  width: 100%;
  font-size: 0.8rem;
  color: var(--tertiary-color);
}

li::before {
  content: "-";
  padding: 0 0.2rem;
}

/* Valid */
.valid .codename__input {
  border: 2px solid rgb(0, 109, 128);
}

.valid .codename__label::before {
  width: 8px;
  background-color: blue;
  transform: translate(-80%, 100%) rotate(45deg);
}

.valid .codename__label::after {
  width: 15px;
  background-color: blue;
  transform: translate(-20%, -20%) rotate(-45deg);
}

@keyframes codename-shake {
  0% {
    transform: translate(3px, 0);
  }
  3% {
    transform: translate(3px, 0);
  }
  6% {
    transform: translate(0, 0);
  }
  9% {
    transform: translate(3px, 0);
  }
  12% {
    transform: translate(3px, 0);
  }
  18% {
    transform: translate(0, 0);
  }
  20%,
  100% {
    transform: translate(0, 0);
  }
}
