@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@font-face {
  font-family: futuraBook;
  src: url(./fonts/FuturaPTBook.otf);
}

@font-face {
  font-family: futuraLight;
  src: url(./fonts/FuturaPTLight.otf);
}

:root {
  --dark-bg-color: #08021a;
  --bg-color: #130a2b;
  --light-bg-color: #161027;
  --text-color: rgba(255, 255, 255, 0.748);
  font-size: 62.5%;
}

* {
  margin: 0;
}

html {
  scrollbar-color: #58e6ff52 var(--bg-color);
}

body {
  background-color: var(--dark-bg-color);
  margin: 0;
  min-width: 30rem;
  width: 90%;
  margin: auto;
  font-size: 1.6rem;
  overflow-x: hidden;
  color: var(--text-color);
  letter-spacing: 0.2rem;
  user-select: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: futuraLight, Arial, Helvetica, sans-serif;
}

header * {
  margin-top: 1rem;
}

.header__logo {
  font-size: 3rem;
  user-select: none;
}

.nav__icon {
  position: relative;
  display: flex;
  flex-direction: column;
  width: fit-content;
  cursor: pointer;
  opacity: 0.7;
  z-index: 3;
}

.nav__icon * {
  display: block;
  margin: 0.3rem;
  height: 0.3rem;
  width: 2.5rem;
  border-radius: 1rem;
  background-color: var(--text-color);
  transform-origin: right;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.nav--active .nav__icon {
  position: fixed;
  right: 5%;
}

.nav__icon--mid {
  width: 50%;
  margin-left: auto;
}

.nav--active .nav__icon--top {
  transform: rotate(-45deg);
}
.nav--active .nav__icon--mid {
  transform: translateX(-50%);
  opacity: 0;
}
.nav--active .nav__icon--bot {
  transform: rotate(45deg);
}

.nav__list {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  right: -100%;
  top: 0;
  width: 0;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  transition: all 0.2s ease-in-out;
  background-color: var(--light-bg-color);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
  opacity: 0;
  z-index: 2;
}

.nav--active .nav__list {
  right: 0;
  min-width: 30rem;
  width: 60%;
  height: 100%;
  opacity: 1;
}

.nav__item {
  font-size: 3rem;
  height: 3.1rem;
  transition: all 0.2s linear;
}

.nav__item:hover {
  cursor: pointer;
  color: #58e5ff;
}

.nav__item::after {
  content: "";
  display: block;
  height: 0.1rem;
  width: 0;
  transition: all 0.2s linear;
}

.nav__item:hover::after {
  background-color: #58e5ff;
  width: 100%;
}

main {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Inter", sans-serif;
}

.content {
  background-color: rgba(0, 0, 0, 0.05);
}

#intro {
  margin-top: 22vh;
  min-height: 47rem;
  font-family: futuraLight, Arial, Helvetica, sans-serif;
}
.intro__content {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.21);
  padding: 2rem 1rem;
  border-radius: 10px;

  margin: 0;
  user-select: none;
  text-align: center;
}

.intro__title {
  font-size: 3.2rem;
  text-transform: capitalize;
}

.intro__subtitle {
  padding-top: 1rem;
  font-weight: 100;
  font-size: 2rem;
}

.intro__buttons-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.intro__buton {
  display: block;
  padding: 1rem 0;
  width: 45%;
  margin: 0.8rem;
  border: 1px solid #58e6ff25;
  border-radius: 2px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 900;
  letter-spacing: 0.2rem;
  color: var(--text-color);
  background-color: transparent;
  transition: all 0.2s ease-in-out;
}

.intro__buton:hover {
  background-color: var(--bg-color);
  font-weight: 900;
  color: #58e5ff;
  cursor: pointer;
}

.section__title {
  max-height: 4rem;
  width: fit-content;
  padding: 5rem 0;
  font-weight: 400;
  margin: auto;
  color: var(--text-color);
}

.section__title::after {
  content: "";
  display: block;
  min-width: 0%;
  width: 50%;
  margin: 0.5rem auto;
  height: 0.1rem;
  background-color: var(--text-color);
}

.section__paragraph {
  letter-spacing: 0.2rem;
  font-weight: 400;
  color: #8892b0;
}

.section__paragraph span {
  display: inline;
  color: #58e5ff;
}

.about__list {
  list-style: none;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-around;
  flex-wrap: wrap;
  height: 4rem;
  color: var(--text-color);
}

.about__item::before {
  content: "";
  display: inline-block;
  margin-right: 1rem;
  margin-bottom: 0.2rem;
  height: 0.4rem;
  width: 0.4rem;
  border: 1px solid #58e5ff;
  transform: rotate(45deg);
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--bg-color);
  z-index: -1;
}
