@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --dark-bg-color: #08021a;
  --bg-color: #31294665;
  --light-bg-color: #161027;
  --text-color: rgba(255, 255, 255, 0.9);
  --highlight: #9097f3f1;
  font-size: 62.5%;
}

* {
  margin: 0;
}

html {
  scrollbar-color: #58e6ff52 var(--dark-bg-color);
  scroll-behavior: smooth;
}

body {
  background-color: var(--dark-bg-color);
  margin: 0;
  width: 100%;
  margin: auto;
  font-size: 1.6rem;
  color: var(--text-color);
  letter-spacing: 0.2rem;
  user-select: none;
}

a {
  display: inline;
  text-decoration: none;
  color: var(--text-color);
}

header {
  position: fixed;
  display: flex;
  width: 100%;
  padding: 1rem 0;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Jost", sans-serif;
}

.header--hide {
  top: -5rem;
  transition: all 0.1s linear;
}

.header--show {
  top: 0;
  background-color: #18112b;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transition: top 0.2s linear;
  z-index: 2;
}

header * {
  margin: 0.5rem 1rem;
}

.header__logo {
  font-size: 3rem;
  user-select: none;
}

.nav__icon {
  margin-top: 0.7rem;
  position: relative;
  display: flex;
  flex-direction: column;
  width: fit-content;
  cursor: pointer;
  opacity: 0.7;
  z-index: 3;
}

.nav__icon * {
  display: block;
  margin: 0.3rem;
  height: 0.3rem;
  width: 2.5rem;
  border-radius: 1rem;
  background-color: var(--text-color);
  transform-origin: right;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.nav--active .nav__icon {
  position: fixed;
  right: 2%;
}

.nav__icon--mid {
  width: 50%;
  margin-left: auto;
}

.nav--active .nav__icon--top {
  transform: rotate(-45deg);
}
.nav--active .nav__icon--mid {
  transform: translateX(-50%);
  opacity: 0;
}
.nav--active .nav__icon--bot {
  transform: rotate(45deg);
}

.nav__list {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  right: -100%;
  top: 0;
  width: 0;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: var(--light-bg-color);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
  transition: all 0.2s linear;
  opacity: 0;
  z-index: 2;
}

.nav--active .nav__list {
  right: 0;
  min-width: 30rem;
  width: 60%;
  height: 100%;
  transition: position 0.2s ease-in-out;
  opacity: 1;
}

.nav__external {
  position: absolute;
  bottom: 2rem;
  order: 3;
}

.nav__external a {
  height: fit-content;
  cursor: default;
}

.nav__external a img:hover {
  transform: rotate(360deg);
  transition: all 0.2s linear;
  cursor: pointer;
}

.nav__external a img {
  height: 2.5rem;
  width: 2.5rem;
}

.nav__item {
  font-size: 3rem;
  height: 3.1rem;
  transition: all 0.2s linear;
}

.nav__item:hover {
  cursor: pointer;
}

.nav__item::after,
.project__description a::after {
  content: "";
  display: block;
  height: 0.1rem;
  width: 0;
  transition: all 0.2s linear;
}

.nav__item:hover::after,
.project__description a:hover::after {
  background-color: white;
  width: 100%;
}

main {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  z-index: -1;
}

section {
  transform: translateY(10rem);
  opacity: 0;
}

section.reveal {
  transform: translateY(2rem);
  transition: transform 0.8s ease-in-out, opacity 0.8s ease-in-out;
  opacity: 1;
}

.content section {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 2rem 1rem;
  margin: 4rem 0;
  width: 90vw;
}

#intro {
  margin-top: 22vh;
  min-height: 47rem;
  font-family: "Jost", sans-serif;
}

.intro__content {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 2rem 1rem;
  border-radius: 10px;
  margin: 0;
  user-select: none;
  text-align: center;
}

.intro__title {
  text-transform: capitalize;
  font-size: 3.4rem;
  font-weight: 500;
}

.intro__subtitle {
  padding-top: 1rem;
  font-weight: 400;
  font-size: 2rem;
}

.intro__buttons-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.intro__button {
  display: block;
  padding: 1rem 0;
  width: 45%;
  margin: 0.8rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 2px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
  color: var(--text-color);
  background-color: transparent;
  transition: all 0.2s ease-in-out;
}

.intro__button:hover {
  background-color: var(--bg-color);
  color: white;
  cursor: pointer;
}

.intro__button::after {
  display: none;
}

.section__title {
  max-height: 4rem;
  width: fit-content;
  padding: 3rem 0;
  font-weight: 400;
  margin: auto;
  color: var(--text-color);
}

.section__title::after {
  content: "";
  display: block;
  min-width: 0%;
  width: 50%;
  margin: 0.5rem auto;
  height: 0.1rem;
  background-color: var(--text-color);
}

.section__paragraph {
  letter-spacing: 0.1rem;
  width: 100%;
  margin: auto;
  font-weight: 300;
  color: #c4cbdd;
}

.section__paragraph span {
  display: inline;
  color: var(--highlight);
}

.about-me__list {
  list-style: none;
  width: 90%;
  margin: auto;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-around;
  flex-wrap: wrap;
  height: 4rem;
  color: var(--text-color);
}

.about-me__item::before {
  content: "";
  display: inline-block;
  margin-right: 1rem;
  margin-bottom: 0.2rem;
  height: 0.4rem;
  width: 0.4rem;
  border: 1px solid var(--highlight);
  transform: rotate(45deg);
}

.search {
  margin: 4rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  width: 4rem;
  background-color: black;
  border-radius: 20rem;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.search__input-wrapper {
  display: flex;
  align-items: center;
  margin: 0;
  width: 0;
}

.search__input {
  outline: none;
  border: none;
  color: white;
  font-size: 2rem;
  background-color: transparent;
  transition: all 0.4s ease-in-out;
  width: 0%;
  opacity: 0;
}

.search__delete {
  display: none;
  background-color: transparent;
  width: 0%;
  border: none;
}

.search--active {
  background-color: transparent;
  width: 30rem;
  max-width: 100%;
}

.search--active .search__input-wrapper {
  width: fit-content;
  border-bottom: 1px solid white;
}

.search--active .search__input {
  width: 90%;
  opacity: 1;
}

.search--active .search__delete--show {
  display: block;
  color: white;
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.search--active .search__delete--show:hover {
  color: tomato;
}

.search img {
  filter: invert(1);
  height: 2rem;
  cursor: default;
  width: 2rem;
}

.project__subsection {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(28rem, 1fr));
  justify-items: center;
  grid-gap: 2rem;
}

.project__no-result {
  padding: 2rem 0;
  text-align: center;
}

.project {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    " name name name preview" "desc desc desc desc" "tag tag tag tag"
    "links . . .";
  align-items: end;
  height: 30rem;
  padding: 2.5rem 3rem;
  border-radius: 0.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.2s linear;
}

.project:hover {
  transform: scale(1.01) translateY(-2%);
  background-color: rgba(0, 0, 0, 0.8);
}

#preview-img {
  position: absolute;
  height: auto;
  width: auto;
  max-width: 35rem;
  max-height: 60vh;
  border-radius: 1rem;
  box-shadow: 2px 2px 5px black;
}

.project__name {
  grid-area: name;
  height: 3rem;
  max-height: 3rem;
  margin-right: 0.5rem;
  font-size: 2rem;
  color: white;
  transition: all 0.2s linear;
}

.project__name:hover {
  color: var(--highlight);
}

.project__preview {
  grid-area: preview;
  max-width: fit-content;
  padding: 0.5rem 1rem;
  border: 1px solid white;
  border-radius: 20rem;
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
  transition: all 0.2s linear;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

.project__preview:hover {
  background-color: var(--text-color);
  color: black;
}

.project__description a:hover::after {
  background-color: var(--highlight);
}

.project__description {
  grid-area: desc;
  width: 90%;
  max-height: 3rem;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  line-height: 2rem;
  color: #c4cbdd;
}

.project__description a {
  display: inline-block;
  color: var(--highlight);
}

.project__image {
  display: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.05;
}

.project__list {
  grid-area: tag;
  margin-top: 8rem;
  justify-self: start;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  list-style: none;
}

.project__item {
  margin-right: 1rem;
  font-family: monospace;
  font-size: 1.2rem;
}

.project__links {
  grid-area: links;
  display: flex;
  flex-direction: row;
}

.project__source {
  border-radius: 50%;
  margin-right: 1rem;
  height: 2.75rem;
  width: 2.8rem;
  border: black 1px solid;
}

.project__source:hover {
  cursor: pointer;
  filter: invert(1);
  background-color: black;
}

.project__source img,
.project__demo img {
  width: 2.8rem;
}
.project__demo {
  filter: invert(1);
}

.project__demo:hover {
  transform: scale(1.1);
}

footer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100%;
}

footer * {
  height: 2rem;
  margin: 0.5rem;
}

.freecodecamp-icon img {
  filter: invert(1);
  height: 2.2rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--bg-color);
  z-index: -1;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #18112b;
  transition: all 1s linear;
  z-index: 10001;
}

.loader.loaded {
  opacity: 0;
  z-index: -1;
}

/* Responsiveness */
@media screen and (min-width: 768px) {
  .nav__icon {
    display: none;
  }

  .nav__list {
    flex-direction: row;
    top: 1rem;
    left: 0;
    height: fit-content;
    width: 100%;
    background-color: transparent;
    box-shadow: none;
    opacity: 1;
    z-index: 3;
    /* transition: all 0.2s linear; */
  }

  .header--start {
    box-shadow: none;
  }

  .header--hide .nav__list {
    top: -5rem;
    transition: all 0.1s linear;
  }

  .header--show .nav__list {
    transition: all 0.2s linear;
  }

  .nav__external {
    position: relative;
    bottom: 0;
  }
  .nav__external a {
    margin-left: 3rem;
  }
  .nav__item {
    font-size: 2.5rem;
    margin: 0 2rem;
  }

  .content section {
    padding: 2rem;
  }

  #about-me {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "title title" "paragraph techs";
    grid-gap: 2rem;
    flex-direction: row;
  }

  #about-me .section__title {
    grid-area: title;
  }

  #about-me .section__paragraph {
    grid-area: paragraph;
    width: 90%;
  }

  .about-me__technologies {
    grid-area: techs;
    width: 80%;
    justify-self: end;
  }

  .about-me__list {
    flex-direction: column;
    justify-content: space-around;
    height: fit-content;
  }
}

/* Animations */

@keyframes header-show-scroll {
  from {
    top: -50px;
  }
  to {
    top: 0;
  }
}
