@font-face {
  font-family: futuraBook;
  src: url(./fonts/FuturaPTBook.otf);
}

@font-face {
  font-family: futuraLight;
  src: url(./fonts/FuturaPTLight.otf);
}

:root {
  --bg-color: #12082e;
  --light-bg-color: #161027;
  --text-color: #372860;
  font-size: 62.5%;
}

* {
  margin: 0;
}

body {
  background-color: #12082e;
  margin: 0;
  min-width: 30rem;

  font-size: 1.6rem;
  font-family: futuraLight, Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  color: white;
  letter-spacing: 0.2rem;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header * {
  margin: 1rem;
}

.header__logo {
  font-size: 3rem;
  user-select: none;
}

.nav__icon {
  position: relative;
  display: flex;
  flex-direction: column;
  width: fit-content;
  cursor: pointer;
  opacity: 0.7;
  margin-right: 0;
  z-index: 3;
}

.nav__icon * {
  display: block;
  margin: 0.3rem;
  height: 0.3rem;
  width: 2.5rem;
  border-radius: 1rem;
  background-color: white;
  transform-origin: right;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.nav__icon--mid {
  width: 50%;
  margin-left: auto;
}

.nav--active .nav__icon--top {
  transform: rotate(-45deg);
}
.nav--active .nav__icon--mid {
  transform: translateX(-50%);
  opacity: 0;
}
.nav--active .nav__icon--bot {
  transform: rotate(45deg);
}

.nav__list {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  right: -100%;
  top: 0;
  width: 0;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  transition: all 0.2s ease-in-out;
  background-color: var(--light-bg-color);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
  opacity: 0;
  z-index: 2;
}

.nav--active .nav__list {
  right: 0;
  min-width: 30rem;
  width: 60%;
  height: 100%;
  opacity: 1;
}

.nav__item {
  font-size: 3rem;
  height: 3.1rem;
}

.nav__item:hover {
  cursor: pointer;
}

.nav__item::after {
  content: "";
  display: block;
  height: 0.1rem;
  width: 0;
  transition: all 0.2s linear;
}

.nav__item:hover::after {
  background-color: white;
  width: 100%;
}

.nav__item span {
  text-decoration: line-through;
  font-size: 2rem;
}

main {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.intro {
  margin-top: 22vh;
  margin-bottom: 29vh;
  min-height: 47rem;
}
.intro__content {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.21);
  padding: 2rem 1rem;
  border-radius: 10px;

  margin: 0;
  user-select: none;
  text-align: center;
}

.intro__title {
  font-size: 3.2rem;
  text-transform: capitalize;
}

.intro__subtitle {
  padding-top: 1rem;
  font-weight: 100;
  font-size: 2rem;
}

.intro__buttons-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.intro__buton {
  display: block;
  padding: 1rem 0;
  width: 45%;
  margin: 0.8rem;
  border: 1px solid rgba(255, 255, 255, 0.748);
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
  color: rgba(255, 255, 255, 0.748);
  background-color: transparent;
  transition: all 0.2s ease-in-out;
}

.intro__buton:hover {
  background-color: rgba(255, 255, 255, 0.748);
  font-weight: 400;
  color: var(--bg-color);
  cursor: pointer;
}

canvas {
  position: absolute;
  top: 0;
  min-height: 477px;
  background: linear-gradient(90deg, #12082e 70%, rgba(0, 0, 0, 0.21));
  z-index: -1;
}
